
@import 'dev/variables.less';

@widthOfMyPlugin: 270px;

@nightColor: black;
@astroColor: #000030;
@nauticalColor: #121260;
@blueColor: blue;
@goldenColor: orange;
@dayColor: yellow;

@pluginBackgroundColor: #404040;

@sunDasharray: 10 2 1 2;
@moonDasharray: 0 1 2 2 3 2 3 1;

.onwindy-plugin-sun-position {

	.left-border {
    left: @widthOfMyPlugin;
  }

	#search {
		display: none;
	}
}

#device-mobile .onwindy-plugin-sun-position {
	.left-border {
		left: 0;
	}
}

#device-mobile #bottom {
	z-index: 2; // makes timeline apear on top of pane in mobile
}

.plugin-sun-position-mobile{
   position:absolute;
   top:250px;
   bottom:0px;
   width:100% !important;
}

#device-mobile #windy-plugin-sun-position{
	.plugin-content .footnote{
		margin-bottom: 90px;  // enables scrolling further down on mobile as timeline overlaps pane
	}

	.closing-x{  //show closing x on custom mobile pane
		display: block;
		right: 0px;
		top: -1em;
	}

	.open-picker, .sun-times{
		min-height: calc(100% - 120pt);
	}
}


#windy-plugin-sun-position {
	width: @widthOfMyPlugin;

	.plugin-content {
    padding: 15px 15px 15px 5px;
    font-size: 14px;
    line-height: 1.6;
    background-color: @pluginBackgroundColor;
    color:white;

    h2{
      color: white;
    }

		.open-picker, .sun-times{
			min-height: calc(100% - 50pt);
		}

		.open-picker#hide, .sun-times#hide{
			display: none;
		}

    .sun-times{

			width: 250px;
      margin-top: 10px;
			margin-left: auto;
			margin-right: auto;


			.timeline-entry{
				position: relative;
			}

			// format all spans as inline-blocks
			.timeline-entry span{
        left: 20px;
        display: inline-block;
        margin-bottom: 0;
        padding-bottom: 0.5em;
      }

			// pointer when clickable
			.timeline-entry.timestamp{
				cursor: pointer;
			}

			// default cursor if not clickable (no text cursor)
			.timeline-entry.timeframe{
				cursor: default;
			}

			// circles on timestamps
      .timeline-entry.timestamp::after{
        display: block;
        position: absolute;
        left: 63px;
        top: 0px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        content: ' ';
      }

			// smaller circles on minor timestamps
			.timeline-entry.timestamp.minor::after{
				left: 65px;
				top: 2px;
				width: 16px;
				height: 16px;
				border-radius: 8px;
			}

			// line of timeline
      .timeline-entry::before{
        content:"";
        position: absolute;
        left: 71px; /* adjust manually */
        top: 0px;
        border-left: 4px solid;
        height: 130%;
        width: 3px;
      }

			// format of times left of timeline
			.time-column{
				width: 90px;
				text-align: right;
				padding-right: 35px;
				color: white; // keep time white
			}

			// colors of text
      .nightColor{
        color: @nightColor;
      }
      .astroColor{
        color: @astroColor;
      }
			.nauticalColor{
				color: @nauticalColor;
			}
      .blueColor{
        color: @blueColor;
      }
      .goldenColor{
        color: @goldenColor;
      }
      .dayColor{
        color: @dayColor;
      }

			// colors of circles
      .nightColor::after{
        background-color: @nightColor;
      }
      .astroColor::after{
        background-color: @astroColor;
      }
			.nauticalColor::after{
        background-color: @nauticalColor;
      }
      .blueColor::after{
        background-color: @blueColor;
      }
      .goldenColor::after{
        background-color: @goldenColor;
      }
      .dayColor::after{
        background-color: @dayColor;
      }

			// colors of timeline
      .nightColor::before{
        border-left-color: @nightColor;
      }
      .astroColor::before{
        border-left-color: @astroColor;
      }
			.nauticalColor::before{
        border-left-color: @nauticalColor;
      }
      .blueColor::before{
        border-left-color: @blueColor;
      }
      .goldenColor::before{
        border-left-color: @goldenColor;
      }
      .dayColor::before{
        border-left-color: @dayColor;
      }

			// moon colors
			.moon{
				color: gray;
			}

			.moon::after{
				background-color: gray;
			}



			//==== current values style ====
      .current-time{
        font-size:25pt;
        text-align: center;
      }

			.current-sun,.current-moon{
				padding-top: 10pt;
				padding-bottom: 10pt;
				border-radius: 10pt;
				margin-top: 5pt;
				margin-bottom: 5pt;
				background-color: #505050;
			}

			.current-sun.hide,.current-moon.hide{
				display: none;
			}

			.current-pos-title{
				display: inline-block;
				margin-left: 60pt;
				padding-bottom: 10pt;
			}

			.current-pos-title::before{
				content: " ";
				display: inline-block;
				width: 15pt;
				height: 15pt;
				margin-bottom: -4pt;
				border-radius: 7pt;
				margin-right: 10pt;
			}

			.current-pos-title#sun::before{
				background-color: yellow;
			}

			.current-pos-title#moon::before{
				background-color: gray;
			}

      .current-pos{
        display: inline-block;
        width: 60%;
        text-align: left;
				padding-left: 10pt;
      }

			.current-pos-label{
        display: inline-block;
        width: 35%;
        text-align: right;
      }


      .sun-path{
        width: 200px;
        height: 100px;
				margin-left: 25px;
      }

      .sun-path path{
        fill: none;
        stroke: #606060;
        stroke-width: 2px;
      }

			.sun-path path#sun_path{
				stroke-dasharray: @sunDasharray;
			}

			.sun-path path#moon_path{
				stroke-dasharray: @moonDasharray;
			}

      .path-circle#sun{
        fill: yellow;
      }
			.path-circle#moon{
        fill: gray;
      }

    }

		.options{
			text-align: center;
			margin-bottom: 20pt;

			.image-checkbox{
				font-size: 22pt;
				color: @pluginBackgroundColor;
				text-align: center;
				display: inline-block;
				width: 30pt;
				height: 30pt;
				border-radius: 15pt;
				font-family: "Symbola";
				cursor: pointer;

				-webkit-user-select: none; /* webkit (safari, chrome) browsers */
		    -moz-user-select: none; /* mozilla browsers */
		    -khtml-user-select: none; /* webkit (konqueror) browsers */
		    -ms-user-select: none; /* IE10+ */
			}
			.image-checkbox#photoSun, .image-checkbox#astroSun{
				background: #C0C000;
			}
			.image-checkbox#moon{
				background: #C0C0C0;
			}
			.image-checkbox.off{
				background: #505050!important;
			}

		}

		.footnote{
			color: gray;
			font-size: 8pt;
			width: 150pt;

			margin-left: auto;
			margin-right: auto;

			a{
				text-decoration: underline;
			}
		}
  }
}

//==== Sun dial style =====

.windy-plugin-sun-position.sun-position-dial{
  position: absolute;
  left: -99.5px;
  top: 25.5px;
  width: 199px;
  height: 199px;
	pointer-events: none;

  .dial-line-sun{
    stroke: rgba(68,65,65,0.84);;
    stroke-width: 3;
  }

	.dial-line-moon{
    stroke: rgba(68,65,65,0.84);;
    stroke-width: 3;
  }

	.dial-circle-sun{
		fill: yellow;
	}

	.dial-circle-moon{
		fill: gray;
	}


  .dial-line-sunrise, .dial-line-sunset, .dial-line-moonrise, .dial-line-moonset{
    stroke: rgba(68,65,65,0.84);
    stroke-width: 2;
		stroke-dasharray: @sunDasharray;
		pointer-events: auto;
  }

	.dial-line-moonrise, .dial-line-moonset{
		stroke-dasharray: @moonDasharray;
	}

  #hover.dial-line-sunrise, #hover.dial-line-sunset, #hover.dial-line-moonrise, #hover.dial-line-moonset{
    stroke-width: 4;
  }
}

#device-mobile .windy-plugin-sun-position.sun-position-dial{
	top: 0.5px;
	left: -69.5px;
	width: 139px;
	height: 139px;

	.dial-line-sun{
		stroke-width: 5;
	}

	.dial-line-sunrise, .dial-line-sunset{
		stroke-width: 4;
	}

}
